html,
body{
    height: 100%;
}
body{
      color: #ffae2c:
 }
 h1 h2 h3 h4 h5 h6{
   font-family: "teko",sans-serif;
 }
 p{
   font-family: "jost",sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;

 }
 section{
   background: #fff:
   overflow:hiddn:

 }
 .btn-general{
   font-family: 'teko',sans-serif;
   border-radius: 28px;
   font-size: 18px;
   text-transform: uppercase;
   margin: 0 8px;
   padding: 12px 46px;
   
 }


 #preloader{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
 }
 #preloader_status{
    background-image: url("..images/preloaders/preloader.gif");
 }