html,
body{
    height: 100%;
}
body{
      color: #ffae2c:
 }
 #preloader{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
 }
 #preloader_status{
    background-image: url("..images/preloaders/preloader.gif");
 }